/* titan.css: TITAN stylesheet. */
/* Adapted and mangulated from various sources. */
/* Tres Hofmeister <tres@ucar.edu>  Mon Jan 24 22:45:25 MST 2005 */

/* Notes. */
/* Might want to fix oddities that appear when resizing browser fonts... */

/* Miscellaneous colors, for reference. */
/*
	background-color: #90a0a0;
	background-color: #b0c0a0;
	background-color: #f8d672;
*/


/* Miscellaneous. */
html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font: 14px Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

a {
	color: #09c;
	text-decoration: none;
}

a:link { color: #09c; }
a:hover { color: blue; }
a:visited { color: #07a; }

h1 {
	font-size: 150%;
	font-weight: bold;
	color: gray;
	border-bottom: 1px solid #90a0a0;
}

h2 {
	padding: 2px;
	padding-left: 8px;
	margin-top: 1.5em;
	font-size: 115%;
	color: #000;
	background-color: #eee;
	border: 1px solid #90a0a0;
}

h1 + h2 {
	margin-top: 0;
}

h3 {
	margin-right: 3%;
}

.footer {
	border: 0;
	margin: 3px;
	padding: 0;
	font-size: x-small;
	text-align: center;
}


/* Sidebar. */
#sidebar {
	float: left;
	width: 20%;
}


/* Main page content. */
#content {
	padding: 0;
	height: auto;
	margin: 0 5% 2em 20%;
}

#content p {
	margin-left: 1em;
	margin-right: 1em;
}


/* Search form. */
#search {
	padding: 0;
	margin: 10%;
	margin-right: 20%;
}

#search a {
	font-size: x-small;
}


/* Footer. */
#footer {
	bottom: 0;
	clear: both;
	width: 100%;
	padding-bottom: 2px;
}


/* W3C validation links. */
#w3c {
	margin: 10%;
}


/* News items. */
#news {
	margin: 0;
	padding: 0;
	/* margin-right: 5%; */
}

#news h3 {
	margin: 0;
	padding: 1px;
	padding-bottom: 2px;
	padding-left: 5px;
	font-size: 115%;
	font-weight: bold;
	border-bottom: 1px solid #90a0a0;
	color: gray;
	background-color: #e0f0d0;
}

#news .item {
	margin-bottom: 1em;
	border: 1px solid #90a0a0;
}

#news p {
	margin-top: .5em;
	margin-left: 1em;
}

#news .subject {
	/* font-weight: normal; */
	color: black;
}


/* Nice W3C buttons. */
/* See http://my.opera.com/community/styles/my.css */

.w3cbutton {
	margin:0 0 5px 0;
	width:10.3em;
	font-size:x-small;
	font-weight:bold;
	line-height:normal;
	background:#d2d2d2;
}

.w3cbutton a {
	display:block;
	/* width:100%; */
	padding:.1em 0;
	color:#333;
	border-top:1px solid #ccc;
	border-right:1px solid #555;
	border-bottom:1px solid #555;
	border-left:1px solid #ccc;
}

.w3cbutton a:link, .w3cbutton a:visited, .w3cbutton a:hover {
	text-decoration:none;
	color:#333;
}

.w3cbutton a:hover {
	border-top:1px solid #555;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-left:1px solid #555;
}

.w3cbutton span.w3c {
	background-color:#fff;
	color:#2c49a9;
	padding:.1em .4em;
}

.w3cbutton span.spec { 
	padding:0 0 0 .4em;
}



/* Vertical navigation. */
/* See: http://css.maxdesign.com.au/listamatic/vertical08.htm */

#vnavcontainer {
	padding: 0;
	margin: 2em 4em 10% 10%;
}

#vnavcontainer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#vnavcontainer h2 {
	margin:0;
	padding: 3px 0 3px 0;
	color: black;
	background-color: #b9c9a9;
	border: 1px solid #90a0a0;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
}

#vnavcontainer li {
	border-bottom: 1px solid #90a0a0;
}

/* Some elements match this in the a element... */
#vnavcontainer li.comment {
	padding: 3px 0 3px 5px;
	text-align: center;
	font-size: small;
}

#vnavcontainer a {
	display: block;
	padding: 3px 0 3px 5px;
	background-color: #fff;
	font-size: small;
}

#vnavcontainer a:link, #vnavlist a:visited {
	color: blue;
	text-decoration: none;
}

#vnavcontainer a:hover {
	background-color: #eee;
	color: blue;
}


/* Header. */
/* Tabs courtesy http://labs.silverorange.com/ */
#header {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #140711;
	background-image: url(../images/header/titan-header_logo.jpg);
	background-repeat: no-repeat;
}

/* Hide the section navigation heading. */
#header h2 {
	display: none;
}

#header ul#primary {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	/* A width is required for Opera, older Mozilla browsers,
	and Konqueror browsers. */
	width: 55em;
}

#header ul#primary li  {
	display: inline;
	list-style: none;
}

#header ul#primary a, #header ul#primary span, #header ul#primary a.current {
	width: 9em;
	display: block;
	float: left;
	padding: 3px 0;
	margin: 2px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 80%;
	text-decoration: none;
	color: blue;
}

#header ul#primary span, #header ul#primary a.current, #header ul#primary a.current:hover {
	border: 1px solid #666;
	border-bottom: none;
	background: #FFF;
	padding-bottom: 6px;
	margin-top: 0;
}

#header ul#primary a {
	background: #FFF7CD;
	border: 1px solid #AAA;
	border-bottom: none;
}

#header ul#primary a:hover {
	margin-top: 0;
	border-color: #666;
	background: #FFFAE1;
	padding-bottom: 5px;
}

#header ul#secondary {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: -1.4em;
	left: 1px;
	/* A width is required for Opera, older Mozilla browsers,
	and Konqueror browsers. */
	width: 55em;
}

#header ul#secondary li a, #header ul#secondary li span {
	width: auto;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0;
	/* CSS validation errors... */
	/* text-align: auto; */
	border: none;
	border-right: 1px dotted #AAA;
	background: none;

}

#header ul#secondary li a {
	color: #06C;
	text-decoration: underline;
}

#header ul#secondary li a:hover {
	color: #333;
	background: transparent;
	padding: 0 10px;
	border: none;
	border-right: 1px dotted #AAA;
}

#header ul#secondary li a:active {
	color: #000;
	background: transparent;
}

/* CSS validation errors... */
/* #header ul#secondary li:last-child a { border: none; } */


#main {
	top: 100px;
	/* border: 1px solid #666; */
	border-top: 1px solid #AAA;
	clear: both;
	/* background: #FFF3B3; */
	/* padding-top: 2em; */
	background: #fff;
}
